<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Tinder hack</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/portfolio-item.css') }}" rel="stylesheet">

</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">Tinder hack</a>
	</div>
</nav>

<!-- Page Content -->
<div class="container">

	<br>

	<!-- Portfolio Item Row -->
	<h2>Total: {{data|length}}</h2>
	<br>
	<div class="col-sm-12">
		{% for tinder in data %}
		<h3>Profile {{ loop.index }}</h3>
		<div class="col-sm-12">
			{% for photo in tinder.user.photos %}
			<a href="{{photo.url}}">
				<img class="" src="{{photo.processedFiles[0].url}}">
			</a>
			{% endfor %}
		</div>
		<br>
		{% endfor %}
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>